@charset "utf-8";

/*
Author: Joshua Lawrinenko
Date: 5/2/2020
File: style.css
*/

body {
    background-color: grey;
}

.my-container {
    border-radius: 1rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    max-width: 95%;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.my-container-header img{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.my-nav {
    text-align: center;
    margin-top: -10px;
}

.my-nav li {
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
}

.my-nav a {
    padding: 4px 20px;
    border-width: 1.5px;
    border-style: solid;
    border-color: red;
    border-radius: 25px;
    color: black;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: lightgrey;
}

.my-nav a:hover {
    background-color: darkgrey;
}

.my-nav a:active {
    background-color: grey;
}

.my-container-body {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 2fr;
    padding: 30px;
    margin-bottom: 100px;
    background-color: whitesmoke;
    border-radius: 0 0 1rem 1rem;
}

.my-bio-card {
    display: grid;
    grid-template-areas:
        'picture'
        'name'
        'info';
    text-align: center;
    border-right: 2px solid #c0c0c0;
    padding-right: 20px;
}

.my-bio-card img {
    width: 160px;
    height: 160px;
    border-radius: 80px;
    grid-area: picture;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.my-bio-card h1 {
    grid-area: name;
}

.my-bio-card p {
    grid-area: info;
}

.my-page-contents {
    display: grid;
}

.my-bio-card h3 a {
    color: black;
}

.my-container-projects, .my-container-contact {
    padding: 30px;
    margin-bottom: 100px;
    background-color: whitesmoke;
    border-radius: 0 0 1rem 1rem;
}

.my-projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.my-projects h3 {
    text-align: center;
}

.my-container-contact {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 900px) {
    .my-container-body {
        grid-template-columns: 1fr;
    }

    .my-bio-card {
        border-right: none;
        border-bottom: 2px solid #c0c0c0;
        padding-bottom: 30px;
    }

    .my-projects {
        grid-template-columns: none;
        grid-template-areas:
            'first'
            'second'
            'third'
            'fourth'
            'fifth'
            'sixth';
    }
    
    .web-label {
        grid-area: first;
    }

    .web-list {
        grid-area: second;
    }
    
    .python-label {
        grid-area: third;
    }

    .p-list {
        grid-area: fourth;
    }
    
    .c-label {
        grid-area: fifth;
    }
    
    .c-list {
        grid-area: sixth;
    }

    .my-container-contact {
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
    .my-container-contact {
        width: 100%;
    }
}